.modal-select {
  body {
    background: #fcfcfc;
    display: flex;
    flex-direction: column;
  }

  .input {
    padding: 10px;
    height: 20px;
    width: 500px;
    border: 1px solid purple;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
  }

  .button {
    cursor: pointer;
  }

  .dropdown-container {
    position: relative;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    background-color: whitesmoke;
    max-height: 150px;
    width: 520px;
    left: 10px;
    overflow-y: auto;
  }

  .dropdown-item {

  }
}